* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

/*  ОБЩИЕ СТИЛИ  */

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(40,49,54);
  background-color: rgb(255,255,255);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  min-width: 1200px;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/*  ХЕДЕР  */

.main-header {
  min-width: 1200px;
  padding-top: 49px;
  background-color: rgba(238,238,238,1);
}

.header-logo img:hover {
  opacity: 0.8;
}

.header-logo img:active {
  opacity: 0.3;
}

.main-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  color: rgb(0,0,0);
}

.header-navigation-items,
.store-list,
.orders-information,
.partners-list,
.catalog-list,
.navigation-items {
  list-style: none;
}

.header-navigation-link,
.cart,
.more,
.letter,
.social-button {
  color: rgb(0,0,0);
}

.header-navigation-link,
.cart {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}

.navigation-link-active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  margin-top: 4px;
  background: rgba(251,86,90,1);
}

.header-navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 440px;
  margin-right: 83px;
  margin-top: 6px;
}

.header-navigation-items a:hover,
.cart:hover {
  color: rgb(251,86,90);
}

.header-navigation-items a:active,
.cart:active {
  color: rgba(0,0,0, 0.3);
}

.header-navigation-link:visited {
  border-bottom: 2px solid rgba(251,86,90,1);
  margin-bottom: 13px;
}

.main-footer p {
  font-size: 16px;
  line-height: 22px;
}
.main-footer .be-friend {
  font-size: 36px;
  line-height: 36px;
}

.cart {
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 6px;
}

.cart::before {
  content: "";
  display: inline-block;
  position: absolute;
  vertical-align: top;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: 7px;
  left: -40px;
}

/*  СЛАЙДЕР  */

.slider {
  position: relative;
  min-width: 1200px;
  margin-bottom: 80px;
  background-color: rgba(238,238,238,1);
}

.slider-container {
  position: relative;
  overflow-x: hidden;
  height: 421px;
  width: 1200px;
  margin: 0 auto;
}

.slider input {
  display: none;
}

.slider-bar {
  overflow: hidden;
}

.slider-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  padding: 0;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.slider-controls {
  font-size: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  -webkit-transform: translateX(7px) translateY(-73px);
  -ms-transform: translateX(7px) translateY(-73px);
  transform: translateX(7px) translateY(-73px);
  background-color: white;
  margin-right: 15px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  position: relative;
  background-color: white;
  background-clip: padding-box;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]::after,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::after,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::after {
  content: "";
  display: block;
  width: 28%;
  height: 28%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid rgba(193,193,193,1);
}

#btn-1:checked ~ .slider-slides {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

#btn-2:checked ~ .slider-slides {
  -webkit-transform: translate(-1200px);
  -ms-transform: translate(-1200px);
  transform: translate(-1200px);
}

#btn-3:checked ~ .slider-slides {
  -webkit-transform: translate(-2400px);
  -ms-transform: translate(-2400px);
  transform: translate(-2400px);
}

.slider-header {
  min-width: 380px;
  max-width: 517px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: rgb(0,0,0);
  margin-top: 68px;
  margin-bottom: 10px;
}

.slider-text {
  font-weight: normal;
  margin-bottom: 40px;
}

.more-btn {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 55px;
  border-radius: 3px;
  border-top: 3px solid transparent;
  color: rgb(255,255,255);
  background-color: rgb(251,86,90);
}

.more-btn:hover {
  background-color: rgba(231,66,70,1);
  color: rgba(255,255,255,1);
  text-decoration: none;
}

.more-btn:active {
  background-color: rgba(215,55,59,1);
  color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(193,49,53,1);
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 421px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1200px;
  padding: 0 20px;
}

.slider-item-1 {
  background-image: url(../img/slide1-min.png);
  background-repeat: no-repeat;
  background-position: 90% 8px;
}

.slider-item-2 {
  background-image: url(../img/slide2-min.png);
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slider-item-3 {
  background-image: url(../img/slide3-min.png);
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slider-item-2 .slider-text {
  width: 410px;
}

.slider-item-3 .slider-text {
  width: 360px;
}

/*  ВИТРИНА  */

.store {
  margin-bottom: 40px;
}

.store::after {
  content: "";
  display: block;
  margin-top: 81px;
  width: 100%;
  border-bottom: 2px solid rgba(238,238,238,1);
}

.store-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.store-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 300px;
}

.store-item:last-child {
  margin-right: 60px;
}

.store-item-text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 31px;
  width: 270px;
}

.store-item-title {
  text-transform: uppercase;
  padding-top: 147px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: rgb(0,0,0);
}

.order-btn {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 40px;
  border-radius: 3px;
  border-top: 3px solid transparent;
}

.order-btn-red {
  background-color: rgba(251,86,90,1);
  color: rgba(255,255,255,1);
  text-decoration: none;
}

.order-btn-red:hover {
  background-color: rgba(231,66,70,1);
  color: rgba(255,255,255,1);
}

.order-btn-red:active {
  background-color: rgba(215,55,59,1);
  color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(193,49,53,1);
}

.order-btn-green {
  background-color: rgba(0,202,116,1);
  color: rgba(255,255,255,1);
  text-decoration: none;
}

.order-btn-green:hover {
  background-color: rgba(0,188,108,1);
  color: rgba(255,255,255,1);
}

.order-btn-green:active {
  background-color: rgba(0,170,98,1);
  color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(0,153,88,1);
}

.order-btn-yellow {
  background-color: rgba(239,200,74,1);
  color: rgba(255,255,255,1);
  text-decoration: none;
}

.order-btn-yellow:hover {
  background-color: rgba(234,181,52,1);
  color: rgba(255,255,255,1);
}

.order-btn-yellow:active {
  background-color: rgba(229,167,34,1);
  color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(206,150,31,1);
}

.store-item-background-1 {
  background-image: url(../img/illustration-1-min.jpg);
  background-repeat: no-repeat;
}

.store-item-background-2 {
  background-image: url(../img/illustration-2-min.jpg);
  background-repeat: no-repeat;
}

.store-item-background-3 {
  background-image: url(../img/illustration-3-min.jpg);
  background-repeat: no-repeat;
}

/*  О НАС  */

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 44px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info:after {
  content: "";
  display: block;
  margin-top: 71px;
  width: 100%;
  border-bottom: 2px solid rgba(238,238,238,1);
}

.info-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 660px;
}

.about-us-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: rgb(0,0,0);
  margin-top: 33px;
  margin-bottom: 18px;
}

.about-us-text {
  font-weight: normal;
  padding-right: 30px;
  margin-bottom: 22px;
}

.about-us-orders {
  margin-bottom: 25px;
}

.orders-information-item {
  font-weight: normal;
}

.orders-information-item:not(:last-child) {
  margin-bottom: 24px;
}

.about-us-orders,
.table-history  {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0,0,0);
}

.info-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: url("../img/nerds-illustration-min.jpg");
  background-repeat: no-repeat;
  padding-top: 243px;
  width: 360px;
}

.table-history {
  margin: 0;
  margin-bottom: 28px;
  -ms-flex-item-align: center;
  align-self: center;
}

.advantages-stats {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.table-digits {
  font-size: 45px;
  color: rgb(0,0,0);
}

.table-digits-item {
  padding-left: 0px;
  padding-right: 17px;
  line-height: 1.5;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.table-digits td {
  font-weight: bold;
}

.percent {
  font-size: 28px;
  line-height: 10px;
}

.table-indicators {
  font-size: 16px;
  line-height: 18px;
}

.table-indicators-item {
  font-weight: normal;
  padding-left: 0px;
  padding-top: 5px;
  padding-left:
}

.orders-information-item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 2px;
  background-color: rgba(251,86,90,1);
  margin-right: 10px;
  margin-bottom: 4px;
}

/*  ПАРТНЕРЫ  */

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 81px;
  padding: 0;
}

.partners-list::after {
  content: "";
  display: block;
  margin-top: 42px;
  width: 97%;
  border-bottom: 2px solid rgba(238,238,238,1);
}

.partners-list-item {
  position: relative;
  width: 25%;
  min-height: 90px;
  text-align: center;
}

.partners-list-item:not(:last-of-type):after {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  right: -1px;
  width: 2px;
  height: 50px;
  background-color: rgba(238,238,238,1);
}

.partner-link-1 {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-top: 20px;
}

.partner-link-3 {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-top: 20px;
}

.partner-link-4 {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-top: 9px;
}

.partner-img {
  vertical-align: middle;
  opacity: 0.2;
}

.partner-img:hover {
  opacity: 1;
}

.partner-img:active {
  opacity: 0.1;
}

/* СТРАНИЦА КАТАЛОГА */

.catalog-header {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: rgb(0,0,0);
  text-align: center;
  background-color: rgb(238,238,238);
  margin-top: 0;
  margin-bottom: 58px;
  padding-top: 68px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 108px;
}

/* КОНТЕНТ */

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1160px;
  padding: 0;
}

/*  ФОРМА  */

.price legend,
.grid-box-field legend,
.features-box-field legend {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: rgb(0,0,0);
}

.price,
.grid-box-field,
.features-box-field {
  margin: 0;
  padding: 0;
}

.price {
  padding-top: 3px;
  margin-top: -3px;
}

.grid-box-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 145px;
}

.features-box-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 200px;
  margin-bottom: 31px;
}

.price-range {
  width: 260px;
  height: 80px;
  margin-bottom: 13px;
}

.range-controls {
  position: relative;
  height: 80px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 27px;
  left: 2;
  width: 3px;
  height: 3px;
  padding: 0;
  border: 10px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.range-controls .toggle-min {
  left: 16px;
}

.range-controls .toggle-max {
  left: 158px;
}

.price-legend {
  letter-spacing: 0.5px;
  margin-bottom: 45px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 260px;
}

.min-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

.min-max label {
  line-height: 22px;
}

.input-from-to {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background-color: rgba(238,238,238,1);
  width: 79px;
  height: 38px;
  outline: none;
  text-align: center;
  margin-left: 9px;
  margin-bottom: 55px;
  border-radius: 3px;
}

.grid-box-group {
  margin-bottom: 16px;
}

.grid-box-radio {
  display: none;
}

.grid-box-radio:checked + .grid-box-label:before {
  background-image: url("../img/radio-on.svg");
}

.grid-box-label {
  position: relative;
  padding-left: 37px;
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(40,49,54,1);
}

.grid-box-label:before {
  content: "";
  position: absolute;
  left: 1px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grid-box-radio:disabled + label,
.features-box-checkbox:disabled + label {
  opacity: 0.1;
}

.grid-box-label:hover {
  color: rgb(0,0,0);
}

.grid-box-label:hover::before {
  opacity: 1;
}

.grid-box-label:disabled {
  opacity: 0.3;
}

.grid-box-field {
  margin-bottom: 28px;
}

.options-legend-net {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 14px;
}

.options-legend-features {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 14px;
}

.features-box-checkbox {
  display: none;
}

.checkbox-group {
  margin-bottom: 16px;
}

.checkbox-label {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(40,49,54,1);
  padding-left: 36px;
  cursor: pointer;
}

.features-box-checkbox:checked + .checkbox-label:before {
  position: absolute;
  left: 2px;
  background-image: url("../img/checkbox-on.svg");
}

.checkbox-label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.checkbox-label:hover {
  color: rgb(0,0,0);
}

.checkbox-label:hover::before {
  opacity: 1;
}

.checkbox-label:disabled {
  opacity: 0.3;
}

.form-btn {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border: 0;
  border-top: 3px solid transparent;
  border-radius: 3px;
  color: rgba(0,0,0,1);
  background-color: rgba(238,238,238,1);
  padding: 13px 89px;
  outline: none;
  cursor: pointer;
}

.form-btn:hover {
  background-color: rgba(223,223,223,1);
}

.form-btn:active {
  color: rgba(0,0,0,0.3);
  background-color: rgba(213,213,213,1);
  border-top: 3px solid rgba(191,191,191,1);
}

/*  СОРТИРОВКА */

.sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  min-width: 760px;
  height: 20px;
  margin-bottom: 55px;
}

.sorting-label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  color: rgb(0,0,0);
  margin-right: 250px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin-right: 10px;
}

.sorting-list-item {
  margin: 0;
  padding: 0;
}

.sorting-list-item:last-of-type a {
  margin-right: 20px;
}

.sort-btn {
  background: none;
  outline: 0;
  border: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  margin-right: 25px;
  cursor: pointer;
}

.sort-btn:hover {
  color: rgba(0,0,0,0.6);
}

.sort-btn:active {
  color: rgba(0,0,0,1);
}

.sort-btn-active {
  color: rgba(0,0,0,1);
}

.sorting-btn-figure {
  display: block;
  width: 11px;
  height: 20px;
  opacity: 0.2;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  font-size: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.sorting-btn-figure:hover {
  opacity: 0.6;
}

.sorting-btn-figure:active {
  opacity: 1;
}

.sorting-btn-figure-down {
  background-image: url(../img/icon-down-dir.svg);
}

.sorting-btn-figure-up {
  background-image: url(../img/icon-up-dir.svg);
}

.sorting-btn-figure-down-active {
  opacity: 1;
}

/*  КАТАЛОГ */

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 760px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin-bottom: 41px;
}

.catalog-item {
  position: relative;
  background-image: url("../img/browser-light.png");
  background-repeat: no-repeat;
  height: 616px;
  padding-top: 40px;
  margin-bottom: 33px;
}

.catalog-item:hover {
  background-image: url("../img/browser.svg");
  -webkit-box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.5);
}

.catalog-item:hover .catalog-item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item-details {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 231px;
  background-color: rgba(238,238,238,1);
  bottom: 0;
  padding: 0 20px;
}

.catalog-item-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: rgba(0,0,0,1);
  margin: 0;
  margin-top: 26px;
  margin-bottom: 16px;
  max-height: 30px;
  overflow: hidden;
}

.catalog-item-text {
  margin: 0;
  width: 227px;
  height: 45px;
  font-family: "Roboto", Arial, sans-serif;
  color: rgba(102,102,102,1);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 21px;
  overflow: hidden;
}

.catalog-price-btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 61px;
  border: 0;
  border-top: 3px solid transparent;
  border-radius: 3px;
  outline: none;
  color: rgba(255,255,255,1);
  background-color: rgba(251,86,90,1);
  cursor: pointer;
}

.catalog-price-btn:hover {
  background-color: rgba(231,66,70,1);
}

.catalog-price-btn:active {
  background-color: rgba(215,55,59,1);
  border-top: 3px solid rgba(193,49,53,1);
}

.catalog-item-label {
  text-transform: uppercase;
}

/*  СТРАНИЦЫ */

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 72px;
}

.navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navigation-item {
  margin-right: 10px;
}

.navigation-item-link {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: rgba(0,0,0,1);
  background-color: rgba(238,238,238,1);
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 12px 18px;
}

.navigation-item-link:hover {
  background-color: rgba(223,223,223,1);
  border: 3px solid transparent;
}

.navigation-item-link:active {
  color: rgba(0,0,0,0.3);
  background-color: rgba(213,213,213,1);
  border-top: 3px solid rgba(191,191,191,1);
}

.item-link-active {
  background: none;
  border: 3px solid rgba(238,238,238,1);
}

.next-btn {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 12px 75px;
  color: rgba(0,0,0,1);
  background-color: rgba(238,238,238,1);
}

.next-btn:hover {
  background-color: rgba(223,223,223,1);
}

.next-btn:active {
  color: rgba(0,0,0,0.3);
  background-color: rgba(213,213,213,1);
}

/*  КАРТА */

.map {
  margin-bottom: 72px;
  position: relative;
  overflow: hidden;
  height: 415px;
}

.map-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.map-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 319px;
  padding: 51px 50px 47px 50px;
  background-color: rgba(255,255,255,1);
  margin-top: 53px;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0,0,0);
  margin: 0;
  margin-bottom: 23px;
}

.contacts-info {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  width: 210px;
  margin: 0;
  margin-bottom: 18px;
  color: rgb(102,102,102);
}

.contacts-info:last-of-type {
  margin-bottom: 37px;
}

.letter {
  -ms-flex-item-align: center;
  align-self: center;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 44px;
  color: rgb(255,255,255);
  background-color: rgb(251,86,90);
  border: none;
  border-top: 3px solid transparent;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.letter:hover {
  background-color: rgba(231,66,70,1);
  color: rgba(255,255,255,1);
}

.letter:active {
  background-color: rgba(215,55,59,1);
  color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(193,49,53,1);
}

/*  ФУТЕР  */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer .footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: rgb(0,0,0);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  width: 260px;
  margin-right: 140px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: baseline;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border-top: 3px solid transparent;
  background-color: rgba(225,225,225,1);
  font-size: 0;
  margin-bottom: 70px;
}

.social-button:hover {
  background-color: rgba(231,66,70,1);
}

.social-button:active {
  border-top: 3px solid rgba(193,49,53,1);
}

.social-button:active img {
  background-color: rgba(215,55,59,1);
  opacity: 0.3;
}

.social-button-icon {
  display: block;
}

.footer-title {
  margin: 0;
  margin-bottom: 10px;
}

.footer-text {
  font-weight: normal;
  margin: 0;
  margin-bottom: 70px;
}

/*  НАПИШИТЕ НАМ  */

.write-us-form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 960px;
  padding: 22px 100px 83px 98px;
  -webkit-box-shadow: 0px 20px 50px 15px rgba(0,0,0,0.5);
  box-shadow: 0px 20px 50px 15px rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,1);
  display: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.write-us-form-show {
  display: block;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.write-us-label {
  display: block;
  margin-bottom: 5px;
  width: 360px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: rgb(0,0,0);
  margin: 0;
}

.write-us-label placeholder {
  font-family: "Roboto", Arial, sans-serif;
}

.write-us-message {
  width: 100%;
}

.write-us-input {
  width: 360px;
  padding: 14px 15px;
}

.write-us-textarea {
  width: 100%;
  min-height: 118px;
  padding: 11px 13px;
  resize: none;
  margin-bottom: 39px;
}

.write-us-legend {
  width: 100%;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: rgb(0,0,0);
  margin-top: 42px;
  margin-bottom: 41px;
}

.write-us-btn {
  padding: 15px 85px;
  border: 0;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-top: 3px solid transparent;
  border-radius: 3px;
  color: rgb(255,255,255);
  background-color: rgb(251,86,90);
  outline: none;
  cursor: pointer;
}

.write-us-btn:hover {
  background-color: rgba(231,66,70,1);
  color: rgba(255,255,255,1);
}

.write-us-btn:active {
  background-color: rgba(215,55,59,1);
  color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(193,49,53,1);
}

.write-us-input, .write-us-textarea {
  border: 2px solid rgba(215,220,222,1);
  border-radius: 3px;
  margin-top: 9px;
}

.write-us-input:hover, .write-us-textarea:hover {
  border: 2px solid rgba(180,185,187,1);
}

.write-us-input:focus, .write-us-textarea:focus {
  border: 2px solid rgba(0,0,0,1);
  outline: none;
}

.write-us-exit {
  display: block;
  width: 26px;
  height: 26px;
  background: none;
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  font-size: 0;
  position: absolute;
  top: 76px;
  right: 87px;
  outline: none;
  cursor: pointer;
}

.write-us-exit:hover {
  opacity: 0.3;
}

.write-us-exit:active {
  opacity: 0.1;
}
